<%- include('includes/header') %>

<!-- <h2>Join here</h2> -->

<!-- <p>OpenTok Video Embed code is not set. Please set up the embed code using the link below and come back here.</p> -->

<a style="margin-top: 5rem;"href="/setup" class="button">Join here</a>

<%- include('includes/footer') %>
